.userPageWrapper {
  margin-top: 30%;
}

.availableUsers {
}
.noteForUser {
  color: gray;
}
.perAdminUserWrapper {
  display: flex;
  gap: 5%;
  justify-content: space-evenly;
}
.user {
  background-color: rgb(235, 52, 52, 0.7);
  padding: 4%;
  display: flex;
  color: white;
  cursor: pointer;
}
.user .label {
  cursor: pointer;
}

.meetingSchedule {
  margin: auto;
}
